@{
    ViewBag.Title = "Betway Result Center Web API";
}

<div class="jumbotron">
    <h1>Betway Result Center API</h1>
    <p class="lead">Use Appropriate Routes and Authentication to consume this API</p>
    <p><a href="http://sixlogics.com" class="btn btn-info btn-lg">Visit our site &raquo;</a></p>
</div>
